table {
  margin-top: 2rem;
}
table,
tr,
th,
td {
  text-align: left;
  font-size: 1.2rem;
  border: none;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
  margin: auto;
  max-width: 300px;
  overflow: scroll;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th > span {
  color: lightgray;
  vertical-align: middle;
}

tr {
  cursor: pointer;
}
tbody tr:hover {
  background-color: #eee;
}
